gumpy==1.2.6
ipykernel==6.27.1
ipython==8.18.1
matplotlib==3.8.2
MDAnalysis==2.7.0
numpy==1.26.2
pandas==2.2.2
sbmlcore==0.2.8
scikit-learn==1.4.0
scipy==1.11.4
seaborn==0.13.2
torch==2.4.1
torch_geometric==2.5.3
tqdm==4.66.1
wandb==0.16.4
biopython==1.83
statsmodels==0.14.1
